setxkbmap es &    # Set Spanish keyboard layout for X
udiskie -t &	  # External disks management systray
nm-applet &       # NetworkManager tray applet (network status/control)
cbatticon &       # Start battery status tray icon
pasystray &		  # Volume Icon systray
